.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vmax;
  z-index: 2;
  display: flex;
  margin: 0 auto;
  background-color: rgb(33, 33, 187);
}
.form {
  padding: 10px;
  display: flex;
  margin: 0 auto;
  & input {
    color: black;
    font-weight: 500;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    background-color: azure;
    outline: none;
  }
  & button {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: azure;
    color: rgb(45, 44, 44);
    display: flex;
    place-content: center;
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}
